.container {
  margin-top: 2rem;
  border-bottom: 1px solid rgba(166, 166, 166, 0.421);
  display: flex;
  justify-content: start;
  width: 800px;
}

.container h2 {
  font-weight: 300;
}

@media (max-width: 1100px) {
  .container {
    width: 600px;
  }
}

@media (max-width: 900px) {
  .container {
    width: 500px;
  }
}
